$foundation-palette: (
  primary: #FF0206,
  secondary: #E54B4D,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$black: #000000;
$dark-gray: #2E2E2E;
$medium-gray:#848484 ;
$light-gray:#BDBDBD ;
$lighter-gray:#F2F2F2 ;
$lightest-gray:#DDDDDD ;
$white: #ffffff;

$dark-blue: #162330;
$light-blue: #293B4E;

