&-who {
  margin: rem-calc(60 0);

  &-image {
    img {

    }
  }

  &-description {
    margin-top: rem-calc(30);
    font-family: $body-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: rem-calc(16);
    line-height: rem-calc(23);
  }

  &-items {
    text-align: center;
    margin: rem-calc(30 0);

    &-title {
      font-family: $title-font-family;
      font-size: rem-calc(16);
      margin-top: rem-calc(10);
      mark{
        background-color: transparent;
        font-weight: 700;
      }
    }
  }
}
