.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none;
  @include breakpoint(small only) {
    font-size: rem-calc(16);
  }
}

.button {
  font-family: $title-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: rem-calc(16);
  line-height: rem-calc(16);
  border-radius: rem-calc(30);
  margin: rem-calc(20 0);


  &-primary {
    background-color: $secondary-color;
    color: $white;
  }

  &-link {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    padding: 0;
    color: $secondary-color;

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
}
