// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}


.site-header {
  .title-bar {
    @include breakpoint(small only) {
      background: $white;
      img {
        max-width: rem-calc(200);
        margin-left: 10vw;
      }
      .menu-icon {
        &:after {
          background: $dark-gray;
          box-shadow: 0 7px 0 $dark-gray, 0 14px 0 $dark-gray;
        }
      }
    }
  }

  .site-navigation {
    .top-bar-right {
      @include breakpoint(small only) {
        .menu {
          float: left;
        }
      }
    }
  }

}

.site-navigation {
  padding: rem-calc(10 0 20 0);

  &-secondary {
    background-color: $dark-blue;
  }

  .top-bar {

    &-left {
      &-item {
        font-size: rem-calc(14);
        font-weight: bold;
        vertical-align: middle;
        line-height: rem-calc(25);

        svg, a {
          vertical-align: middle;
        }

        a {
          color: $dark-blue;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .wpml-ls-legacy-dropdown {
        width: auto;

        a {
          border: none;
        }

        a.wpml-ls-item-toggle:after {
          top: calc(40%);
        }
      }
    }

    &-right {
      .menu {
        float: right;

        li {
          a {
            padding: rem-calc(10 15);
            font-size: rem-calc(14);
            color: $white;
            font-weight: bold;

            &:hover {
              color: $primary-color;
            }
          }

          &:last-child {
            a {
              padding-right: 0;
            }
          }
        }
      }

      &-contact {
        a {
          background-color: $secondary-color;
          border-radius: rem-calc(10);
        }

        &-details {
          margin-left: rem-calc(10);

          a {
            font-weight: bold;
          }
        }
      }
    }
  }

}
